/* All page */
html{
    width: 100%;
    box-sizing: border-box;
}
li{
    list-style: none;
}
/* Body style */
body{
    height: auto;
    text-align: center;
    color: black;
    background-color: rgb(223, 196, 178);
}
/* Link style */
a{
    color: black;
    text-decoration: none;
}
/* All header */
header{
    margin: 0 10% 5% 10% ;
}
/* Logo */
header logo a img{
    display: flex;

}
/* All navigation */
nav{
    text-align: right;
}

nav a{
    margin-left: 50px;
}
/* Main section */
main{
    margin: 10% 5% 10% 5%;
    
}
/* Footer */
footer nav a{
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
}
/* Top navigate design */
#nav a{
    font-size: 30px;
    border-radius: 50;
    color: whitesmoke;
}

#nav a:hover{
    color: lightblue;
}
/* Inditify the active page */
#active{
    font-weight: bold;
}
/* Welcome section */
#welcome{
    background-image: linear-gradient(rgb(223, 196, 178),rgb(191, 118, 153),rgb(223, 196, 178));
    font-size: 100px;
    margin: 1% -13% 0 -13%;
    padding: 5% 10% 10% 10%;
    color: white;
}
#welcome h1{
    font-size: 1em;
}
#welcome em{
    font-size: 0.25em;
}

/* CLass category */
.category{
    margin-bottom: 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: linear-gradient(rgb(223, 196, 178),rgb(190, 195, 197),rgb(223, 196, 178));
    padding: 2vw 0 10vw 0 ;
}
.category a:hover{
    color: white;
    background-color: rgb(131, 66, 66);
}
/* Class book */
.book{
    display: inline-flex;
}
.book a{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.book img{
    width: 300px;
    height: auto;
    margin: 5% 50px 5% 50px;
}


/* Bookdetail */
.breadCrumb{
    padding: 10px 16px;
    list-style: none;
    font-size: x-large;
}
.breadCrumb li{
    display: inline;
}
.breadCrumb li+li::before{
    padding: 20px;
    color: rgb(228, 10, 148);
    content: ">";
}
.breadCrumb li a{
    color: rgb(195, 46, 185);
}
/* BookImg */
.bookImg{
    display: flex;
    flex-wrap: wrap;
    padding-left: 5vw ;
}
#largeImge{
    flex:50%;
}
#smallImg{
    text-align: left;
    flex: 25%;
}
#smallImg ul li{
    list-style: none;
}
#smallImg ul li img{
    width: auto;
    height: 200px;
}
.pay{
    text-align: left;
    font-size: xx-large;
    flex: 35%;
}
.pay #ifo{
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
}
.pay p+p::before{
    padding: 10px;
    content: "|";
}
.pay #price{
    color: red;
}
.pay button{
    background-color: rgb(65, 24, 24);
    color: white;
    padding:10px 20px 10px 20px;
    border-radius: 30%;
}
.pay button :hover{ 
    background-color:rebeccapurple ;
}
/*class bookInfo */
#bookInfo{
    text-align: left;
    font-size: xx-large;
}
#bookInfo h2{
    font-size: 1em;
}
#bookInfo p{
    font-size: 0.75em;
}
